<h1>Current Projects</h1>

<p> Currently I am working on my first mobile game which I plan to release for iOS and Android in July 2015. It is almost finished now, as I am just making it look pretty by replacing rectangles with images and adding in animations. I am not 100% on the name BowMaster but for now thats what I have named it. Check out the images below to get an idea of what is looks like currently. There are two castle on either side of you screen, one is yours and the other is the enemies. The objective is to protect your castle by staying alive and eliminating the enemy. The game is 100% functional and works perfectly, I have tested it on my phone too and had lots of fun.</p>
<p>I cannot wait to release it on the app stores to share it with the world, stay tuned.</p>
