

<h1>Flash Projects</h1>

<p>In high school I took a course called Communications Technology in which we had a unit on flash. Originally for this assignment we just had to create a simple flash animation but I thought this was too easy and took this assignment to the next level by making a game. You can see this game below or the full screen version and play it using the arrow keys to dodge the oncoming birds. I had never considered making a game with flash before but in the end it was definitely worth it, as flash has made this process extremely easy. In the future I plan to learn more about the Flash programming language: Actionscript 3. The language was made keeping game making in mind which I really enjoy doing. </p>