

<h1>Java Projects</h1>

<p> I have spent the majority of my time programming in Java, this is also the first language I learned. I started learning Java from the Computer Science course I took in high school but I quickly went ahead of my class and continued to learn it on all my free time, which in the end resulted in my final project being a full 2D platformer game: Purgatory Elusion. I also finished two other games in java but didn't get them working on a web browser, but you can check them out as well as a game I made in C++ here.

A game called Poly Racer was grade 12 final project and is my greatest accomplishment to date. Last time was a 2D game for my final project so this time I made a huge step up: a 3D game. Everything was coded from scratch even the 3D engine. Basically you are controlling a ship and must dodge incoming cubes, there are power ups to enhance your ship, levels and even high scores. This game is programmed entirely in java and has been deployed as an applet and a full screen aplication, I highly encourage you to check it out here.

Recently I also attended Hack Western where I made a game in 36 hours that got us into the top 6 out of over 150 teams. It is based around helping scientists analyze gene microarrays to cure cancer. We took a new direction on this by making it a fun to play game where the user creates their own path through the data to collect as many orbs as possible. This is also the first game where I have successfully incorporated fully function AI as there are little blobs that you must avoid to collect as many orbs as possible. It is made in java and deployed perfectly over the web, playable by everyone at HackingCancer.me. </p>

