<h1>About</h1>

<h3><strong>Konrad Pfundner</strong></h3>
<h4>3rd Year Student at the University of Western Ontario </h4>
<h4>London, Ontario </h4>

<h3><strong>Experience</strong></h3>

<dl>
  <dt>Graphic Designer at Microcad Computer Corperation</dt>
  <dd>Created flyers via Photoshop</dd>
  <dd> Linked images in flyers to webpages</dd>
  <dd> Created send ready html e-flyers</dd>
  <br>

  <dt>Engineer in Training at London Hydro</dt>
  <dd>Improved home hydro units</dd>
  <br>

  <dt>Light and Sound Engineer at Oakridge High School </dt>
  <dd>Operated and hooked up light and sound equipment for various shows and performances in the Auditorium</dd>
  <br>

  <dt>Programmer at Oakridge High School</dt>
  <dd>Programmed a commencement app in Java that is currently being used to collect information on everyone graduating</dd>
  <br>

</dl>

<h3><strong>Programming Languages</strong></h3>

<ul>
  <li>Java</li>
  <li>C++</li>
  <li>C</li>
  <li>HTML</li>
  <li>CSS</li>
</ul>

<h3><strong>Languages</strong></h3>

<dl>
  <dt>German</dt>
  <dd>I am partially fluent in speaking German and am able to read and write.</dd>
</dl>	